<div>
<nav>
<a><%= link_to 'View Events', new_event_path%></a>
<a><%= link_to 'Post an Event', new_event_path%></a>
</nav>
</div>
<h1>Welcome</h1>
<p>This is evently where you can sign up for events you own. Click own "view events" to see all the events near you.</p>